@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

:root {
  --main-color: #9e73e4;
  --box-shadow: 0 0 10px rgba(0,0,0,0.1)
}

* {
  margin: 0;
  padding: 0;
  outline: 0;  
}

body { 
  font: 400 15px 'Roboto', sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  background: #fafafa
}

.main-content {
  margin: 75px 2rem;
}